@model moment32.Models.User

@{
    ViewData["Title"] = "Skapa ny anv채ndare";
}

<h1>Skapa ny anv채ndare</h1>
<section>
    <h2>Anv채ndare</h2>
    <hr />
    <div >
        <div >
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="errorMsg"></div>
                <div>
                    <label asp-for="UserName" ></label>
                    <input asp-for="UserName"  />
                    <span asp-validation-for="UserName" class="errorMsg"></span>
                </div>
                <div>
                    <input type="submit" value="Skapa" class="btn" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Till alla anv채ndare</a>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
